@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "PublicSansRegular";
  src: url("../public/fonts/static/PublicSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PublicSansBold";
  src: url("../public/fonts/static/PublicSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "PublicSansLight";
  src: url("./public/fonts/static/PublicSans-Light.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: "PublicSansRegularVariable";
  src: url("../public/fonts/PublicSans-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PublicSansRegularVariableItalic";
  src: url("../public/fonts/PublicSans-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: italic;
}
/* #linksContainer a {
  position: relative;
}

#linksContainer a a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: hsl(136, 65%, 51%);
}
 /* 
#hero {
  background-image: url("../public/images/bg-intro-mobile.svg");
  background-size: contain;
  background-position-x: 100vh;
  background-position-y: -10vh;
  background-repeat: no-repeat;
}
@media only screen and (min-width: 768px) {
  #hero {
    background-image: url("../public/images/bg-intro-desktop.svg");
  }
}

@media only screen and (min-width: 1020px) {
  #hero {
  }
}
 */

#hero-intro {
  background-image: url("../public/images/bg-intro-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (min-width: 760px) {
  #hero-intro {
    background-image: url("../public/images/bg-intro-desktop.svg");
    background-size: 100rem;
    background-position-y: -50vh;
  }
}
